#accordion.titled-pane {
    -fx-background-color: #3AAACF;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.titled-pane {
    -fx-background-color: linear-gradient(aliceblue, lightslategray);
}

#menu-button {
    -fx-background-color: #3AAACF;
}